
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="footer">
        <div class="footer-logo">
          <a href="index.html">
            <img src="assets/images/icon/logo.png" alt="" />
          </a>
        </div>
        <div class="footer-menu">
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
            <li>
              <a href="privacy-policy.html">Privacy Policy</a>
            </li>
            <li>
              <a href="terms-conditions.html">Terms & Conditions</a>
            </li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-youtube-play"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>