<div class="detail-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-details">
                    <h2>{{product.name}}</h2>
                    <p class="price">${{product.unitPrice}}</p>
                    <p>{{product.description}}</p>
                    <p><a href="#" class="btn btn-primary" type="button">Add to Cart</a></p>
                    <p><a routerLink="/products" class="btn btn-primary" type="button">Back to Products</a></p>

                      
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-thumbnail">
                    <img src="{{product.imageUrl}}" alt="Image placeholder" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
