<div class="main-content page-m">
    <div class="section-contetnt section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" class="col-md-12" (ngSubmit)="onSubmit()">

                <!--customer -->
                <div formGroupName="customer" class="form-area col-md-12">
                    <h3 class="col-md-2">Customer</h3>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="firstName" class=" form-control-label">Nombre</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="firstName" formControlName="firstName" class="form-control">
             
                            <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)"    class="alert alert-danger">
                                <div *ngIf="firstName!.errors ">
                                    El nombre es requerido
                                </div>                             

                                <div *ngIf="firstName!.errors">
                                    El nombre debe tener al menos 2 caracteres

                                </div>
                            </div>
                        </div>

                        

                        

                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <label for="lastName" class=" form-control-label">apellido</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="lastName" formControlName="lastName" class="form-control">

                            <div *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)"    class="alert alert-danger">
                                <div *ngIf="lastName!.errors  ">
                                    El apellido es requerido
                                </div>

                                <div *ngIf="lastName!.errors">
                                    El apellido debe tener al menos 2 caracteres

                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="email" class=" form-control-label">Email</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="email" formControlName="email" class="form-control">

                            <div *ngIf="email!.invalid && (email!.dirty || email!.touched)"    class="alert alert-danger">
                                <div *ngIf="email!.errors">
                                    El email es requerido
                                </div>

                                <div *ngIf="email!.errors">
                                    El email es invalido
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!--address -->
                <div formGroupName="shippingAddress" class="form-area col-md-12">
                    <h3 class="col-md-5">Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="country" class=" form-control-label">Country</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <select  formControlName="country" (change)="getStates('shippingAddress')" >
                                <option *ngFor="let tempCountry of countries" [ngValue]="tempCountry">
                                    {{tempCountry.name}}
                                </option>
                            </select>

                            <div *ngIf="shippingAddressCountry!.invalid && (shippingAddressCountry!.dirty || shippingAddressCountry!.touched)"    class="alert alert-danger">
                                <div *ngIf="shippingAddressCountry!.errors ">
                                    El pais es requerido
                                </div>

                                <div *ngIf="shippingAddressCountry!.errors">
                                    El pais debe tener al menos 2 caracteres

                                </div>


                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="state" class=" form-control-label">State</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <select id="state" formControlName="state" class="form-control">
                                <option *ngFor="let tempState of shippingAddressStates" [ngValue]="tempState">
                                    {{tempState.name}}
                                </option>
                            </select>

                            <div *ngIf="shippingAddressState!.invalid && (shippingAddressState!.dirty || shippingAddressState!.touched)"    class="alert alert-danger">
                                <div *ngIf="shippingAddressState!.errors">
                                    El estado es requerido
                                </div>

                                <div *ngIf="shippingAddressState!.errors">
                                    El estado debe tener al menos 2 caracteres

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="city" class=" form-control-label">City</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="city" formControlName="city" class="form-control">

                            <div *ngIf="shippingAddressCity!.invalid && (shippingAddressCity!.dirty || shippingAddressCity!.touched)"    class="alert alert-danger">
                                <div *ngIf="shippingAddressCity!.errors">
                                    La ciudad es requerida
                                </div>

                                <div *ngIf="shippingAddressCity!.errors">
                                    La ciudad debe tener al menos 2 caracteres

                                </div>
                            </div>
                        </div>
                    </div>                  

                    <div class="row">
                        <div class="col-md-2">
                            <label for="street" class=" form-control-label">Street</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="street" formControlName="street" class="form-control">

                            <div *ngIf="shippingAddressStreet!.invalid && (shippingAddressStreet!.dirty || shippingAddressStreet!.touched)"    class="alert alert-danger">
                                <div *ngIf="shippingAddressStreet!.errors">
                                    La calle es requerida
                                </div>

                                <div *ngIf="shippingAddressStreet!.errors">
                                    La calle debe tener al menos 2 caracteres
                                </div>
                            </div>
                            </div>
                        </div>
                        
                    <div class="row">
                        <div class="col-md-2">
                            <label for="zipCode" class=" form-control-label">Zip Code</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="zipCode" formControlName="zipCode" class="form-control">

                            <div *ngIf="shippingAddressZipCode!.invalid && (shippingAddressZipCode!.dirty || shippingAddressZipCode!.touched)"    class="alert alert-danger">
                                <div *ngIf="shippingAddressZipCode!.errors">
                                    El codigo postal es requerido
                                </div>

                                <div *ngIf="shippingAddressZipCode!.errors">
                                    El codigo postal debe tener al menos 2 caracteres

                                </div>
                        </div>
                    </div>
                    </div>
                    </div>

                
                
                <!-- add checkout form -->
                <div class="form-area col-md-12">
                    <label class="col-md-12">
                        <input type="checkbox" (click)="copyShippingAddressToBillingAddress($event)"> Same as shipping
                        address
                    </label>
                </div>
                <!--billing address -->
                <div formGroupName="billingAddress" class="form-area col-md-12">
                    <h3 class="col-md-5"> Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="country" class=" form-control-label">Country</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <select id="country" formControlName="country" (change)="getStates('billingAddress')">
                                <option *ngFor="let tempCountry of countries" [ngValue]="tempCountry">
                                    {{tempCountry.name}}
                                </option>
                            </select>

                            <div *ngIf="billingAddressCountry!.invalid && (billingAddressCountry!.dirty || billingAddressCountry!.touched)"    class="alert alert-danger">
                                <div *ngIf="billingAddressCountry!.errors">
                                    El pais es requerido
                                </div>

                                <div *ngIf="billingAddressCountry!.errors">
                                    El pais debe tener al menos 2 caracteres

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="state" class=" form-control-label">State</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <select id="state" formControlName="state" class="form-control">
                                <option *ngFor="let tempState of billingAddressStates" [ngValue]="tempState">
                                    {{tempState.name}}
                                </option>
                            </select>

                            <div *ngIf="billingAddressState!.invalid && (billingAddressState!.dirty || billingAddressState!.touched)"    class="alert alert-danger">
                                <div *ngIf="billingAddressState!.errors">
                                    El estado es requerido
                                </div>

                                <div *ngIf="billingAddressState!.errors">
                                    El estado debe tener al menos 2 caracteres

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="city" class=" form-control-label">City</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="city" formControlName="city" class="form-control">

                            <div *ngIf="billingAddressCity!.invalid && (billingAddressCity!.dirty || billingAddressCity!.touched)"    class="alert alert-danger">
                                <div *ngIf="billingAddressCity!.errors">
                                    La ciudad es requerida
                                </div>

                                <div *ngIf="billingAddressCity!.errors">
                                    La ciudad debe tener al menos 2 caracteres

                                </div>
                            </div>

                        </div>
                    </div>


              

                    <div class="row">
                        <div class="col-md-2">
                            <label for="street" class=" form-control-label">Street</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="street" formControlName="street" class="form-control">

                            <div *ngIf="billingAddressStreet!.invalid && (billingAddressStreet!.dirty || billingAddressStreet!.touched)"    class="alert alert-danger">
                                <div *ngIf="billingAddressStreet!.errors">
                                    La calle es requerida
                                </div>

                                <div *ngIf="billingAddressStreet!.errors">
                                    La calle debe tener al menos 2 caracteres
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="zipCode" class=" form-control-label">Zip Code</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="zipCode" formControlName="zipCode" class="form-control">

                            <div *ngIf="billingAddressZipCode!.invalid && (billingAddressZipCode!.dirty || billingAddressZipCode!.touched)"    class="alert alert-danger">
                                <div *ngIf="billingAddressZipCode!.errors">
                                    El codigo postal es requerido
                                </div>

                                <div *ngIf="billingAddressZipCode!.errors">
                                    El codigo postal debe tener al menos 2 caracteres

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!--credit card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3 class="title-5 m-b-35">Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="cardType" class=" form-control-label">Card Type</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <select id="cardType" formControlName="cardType" class="form-control">
                                <option value="Visa">Visa</option>
                                <option value="MasterCard">MasterCard</option>
                                <option value="American Express">American Express</option>
                            </select>

                            <div *ngIf="creditCardCardType!.invalid && (creditCardCardType!.dirty || creditCardCardType!.touched)"    class="alert alert-danger">
                                <div *ngIf="creditCardCardType!.errors">
                                    El tipo de tarjeta es requerido
                                </div>

                                <div *ngIf="creditCardCardType!.errors">
                                    El tipo de tarjeta debe tener al menos 2 caracteres

                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <label for="nameOnCard" class=" form-control-label">Name on Card</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="nameOnCard" formControlName="nameOnCard" class="form-control">

                            <div *ngIf="creditCardNameOnCard!.invalid && (creditCardNameOnCard!.dirty || creditCardNameOnCard!.touched)"    class="alert alert-danger">
                                <div *ngIf="creditCardNameOnCard!.errors">
                                    El nombre en la tarjeta es requerido
                                </div>

                                <div *ngIf="creditCardNameOnCard!.errors">
                                    El nombre en la tarjeta debe tener al menos 2 caracteres

                                </div>
                                </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <label for="cardNumber" class=" form-control-label">Card Number</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="cardNumber" formControlName="cardNumber" class="form-control">

                            <div *ngIf="creditCardNumber!.invalid && (creditCardNumber!.dirty || creditCardNumber!.touched)"    class="alert alert-danger">
                                <div *ngIf="creditCardNumber!.errors">
                                    El numero de tarjeta es requerido
                                </div>

                                <div *ngIf="creditCardNumber!.errors">
                                    El numero de tarjeta debe tener al menos 2 caracteres

                                </div>
                                </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="securityCode" class=" form-control-label">Security Code</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <input type="text" id="securityCode" formControlName="securityCode" class="form-control">

                            <div *ngIf="creditCardSecurityCode!.invalid && (creditCardSecurityCode!.dirty || creditCardSecurityCode!.touched)"    class="alert alert-danger">
                                <div *ngIf="creditCardSecurityCode!.errors">
                                    El codigo de seguridad es requerido
                                </div>

                                <div *ngIf="creditCardSecurityCode!.errors">
                                    El codigo de seguridad debe tener al menos 2 caracteres

                                </div>

                                </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="expirationYear" class=" form-control-label">Expiration Year</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <select id="expirationYear" formControlName="expirationYear" class="form-control" (change)="handleMonthsAndYears()">

                                <option *ngFor="let year of creditCardYears" >
                                    {{year}}
                                </option>
                            </select>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="expirationMonth" class=" form-control-label">Expiration Month</label>
                        </div>
                        <div class="col-md-10 input-space">
                            <select id="expirationMonth" formControlName="expirationMonth" class="form-control">
                                <option *ngFor="let month of creditCardMonths" >
                                    {{month}}
                                </option>
                            </select>

                        </div>
                    </div>  
                </div>
                <!--end credit card -->

                <!--Review order -->

                <div class="form-area">
                    <h3 class="title-5 m-b-35">Review Order</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="total" class=" form-control-label">Total</label>
                        </div>
                        <div class="col-md-10 ">
                           <label for="total" class=" form-control-label">{{ totalPrice}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for=" totalQuantity" class=" form-control-label"> totalQuantity</label>
                        </div>
                        <div class="col-md-10 ">
                           <label for=" totalQuantity" class=" form-control-label">{{ totalQuantity}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="shipping" class=" form-control-label">Shipping</label>
                        </div>
                        <div class="col-md-10 ">
                           <label for="shipping" class=" form-control-label">{{shipping}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="orderTotal" class=" form-control-label">Order Total</label>
                        </div>
                        <div class="col-md-10 ">
                           <label for="orderTotal" class=" form-control-label">{{orderTotal}}</label>
                        </div>
                    </div>
                </div>







                   
                        <button type="submit" class="btn btn-primary btn-md"  [disabled]="!checkoutFormGroup.valid"      >
                              <i class="fa fa-dot-circle-o"></i> Submit
                        </button>

                    

                
                

            </form>


        </div>
    </div>
</div>